[Unit]
Description=uam
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=15s
ExecStart=./opt/uam/uam --pk DC3598D02A3AEF5BDE7D863138985E7037399891BAFD73964B0520F56539DD39 --http [127.0.0.1]:8090 --no-ui

[Install]
WantedBy=multi-user.target
